In [2]:
a = 3
b = 4
P = (a + b)*2
S = a*b

In [3]:
print('Периметр =', P)
print('Площадь =', S)

Периметр = 14
Площадь = 12

In [4]:
names = [3, 4, 5, 1, 'a']
print(names[0])

3

In [5]:
import random

answers = ['Нормально', 'Отлично', 'Плохо', 'Шикарно']

print('Как дела?', '', end='')
print(random.choice(answers))

Как дела? Отлично

In [6]:
text = 'Открыто окно'
text = False
if text:
    print('Закрой окно')
else:
    print('Открой')

Открой

In [22]:
number1_str = input()
number2_str = input()
number1_int = int(number1_str)
number2_int = int(number2_str)
print(number1_int, type(number1_int), number2_int, type(number2_int))

7
8
7 <class 'int'> 8 <class 'int'>

In [1]:
print('one'+'two')

onetwo

In [13]:
print('2' + '100')

2100

In [34]:
number1 = input('Введи 1-ое число: ')
number2 = input('Введи 2-ое число: ')
if number1 > number2:
    print(number1, '- максимальное')
    print(f'{number2} - минимальное')   
elif number1 < number2:
    print(number2, '- максимальное')
    print(f'{number1} - минимальное')
else:
    print('Числа равны')

# Пользователь вводит два числа - катеты, нужно вывести гипотенузу

Введи 1-ое число: 5
Введи 2-ое число: 5
Числа равны

In [46]:
names = ['Даша','Оля', 'Катя', 'Маша']
for name in names:
    if name == 'Оля':
        print('Это Оля')
    else:
        print('Это не Оля')

Это не Оля
Это Оля
Это не Оля
Это не Оля

In [21]:
family_members = ['Елена', 'Андрей', 'Юра']

name = input('Введите имя: ')

if name == 'Лена' or name == 'лена' or name == 'елена':
    name = 'Елена'
if name == 'Екатерина':
    name = 'Катя'
if name in family_members:
    print('Является членом семьи')
else:
    print('Не является членом семьи')

Введите имя: Катя
Не является членом семьи

In [29]:
# x^2+3*x-5=0

a = int(input('Введите a: '))
b = int(input('Введите b: '))
c = int(input('Введите c: '))
discriminant = b**2 - 4*a*c
print(discriminant)
if discriminant > 0:
    print('Два решения')
elif discriminant == 0:
    print('Одно решение')
else:
    print('Нет решений')

Введите a: 3
Введите b: 45
Введите c: 6
1953
Два решения

In [6]:
print('В каком классе Катя?')
prav_otver = 9
vved_otvet = int(input('Введите ответ: '))
if vved_otvet == prav_otver:
    print('Ответ правильный')
else:
    print('Ответ неверный')

В каком классе Катя?
Введите ответ: 9
Ответ правильный

In [3]:
name = input('Введите имя: ')
print('Добрый день, '+ name)

Введите имя: hgjh
Добрый день, hgjh

In [ ]:
age = int(input('Введите возраст: '))
if age >= 18:
print('Взрослый')
    print('jghfj')
    if 
elif age<18 and age>=12:
    print("Teen")
else:
    print('   ')
    otvet = input('Введите ответ: ')

In [1]:
z='*'

for i in range(5):
    for j in range(5):
        print(z, end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [14]:
# x^2-10x+9=0   - два решения
# x^2-4x+4   - одно решение

import math

a = int(input('Введите a: '))
b = int(input('Введите b: '))
c = int(input('Введите c: '))

dis = b**2 - 4*a*c

if dis > 0:
    print('Два решения')
    x1 = (-b + math.sqrt(dis))/(2*a)
    x2 = (-b - math.sqrt(dis))/(2*a)
    print('x1 =', x1, 'x2 =', x2)
elif dis == 0:
    print('Одно решение')
    x1 = (-b + math.sqrt(dis))/(2*a)
    print('x1 =', x1)
else:
    print('Нет решений')

Введите a: 1
Введите b: -4
Введите c: 4
Одно решение
x1 = 2.0

In [32]:
for i in range(1,11):
    if i==5:
        print(i, '- это 5')
    else:
        print(i, '- это не 5')

1 - это не 5
2 - это не 5
3 - это не 5
4 - это не 5
5 - это 5
6 - это не 5
7 - это не 5
8 - это не 5
9 - это не 5
10 - это не 5

In [35]:
n = int(input('Введите количество чисел в последовательности: '))

count = 0

for i in range(n):
    number = int(input('Введите число: '))
    if number%4==0 and number%7!=0:
#         print('Число кратное 4, но не кратное 7:', number)
        count = count + 1
print('Количество кратных 4 и не кратных 7:', count)

Введите количество чисел в последовательности: 4
Введите число: 16
Введите число: 28
Введите число: 26
Введите число: 24
Количество кратных 4 и не кратных 7: 2

In [1]:
while True:
    try:
        n = input('Enter the number: ')
        n = int(n)         
    except ValueError:
        break

Enter the number: 3
Enter the number: f

In [2]:
print(2*2==4)

True

In [12]:
print(7 // 2)
print(7 / 2)
print(7 % 2)
print(13 % 6 == 0)

3
3.5
1
False

In [19]:
n = int(input('Введите количество: '))
for kl in range(n):
    print(kl)

Введите количество: 6
0
1
2
3
4
5

In [22]:
for i in range(1,6): # 1,2,3,4,5
    number = int(input('Введите число: '))

Введите число: 4
Введите число: -5
Введите число: 2
Введите число: 6
Введите число: 7

In [27]:
for i in family:
    print(i)

l
e
t
t
e
r

In [75]:
z='*'
n = 7

for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1 or  i == j or j == n-1-i:
            print(z, end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
* * * * * * *

In [32]:
input_string = '79261234567'
input_string = input_string.lstrip('7')

In [33]:
input_string

'9261234567'

In [77]:
n = int(input())

for i in range(n):
    print('Привет')

7
Привет
Привет
Привет
Привет
Привет
Привет
Привет

In [47]:
temperature_today = int(input('Какая сегодня погода: '))

if temperature_today > 25:
    print('Иди на пляж')
else:
    print('Не иди на пляж')

Какая сегодня погода: 24
Не иди на пляж

In [78]:
n = int(input()) 

a = n // 100 # 1,56  
print(a)

b = (n // 10) % 10 # 15,6 -> 15 -> 1,5
print(b)

c = n % 10   # 15,6
print(c)

summa = a + b + c
print('Сумма цифр = ', summa)
# print(7 / 2) 
# print(7 // 2)  
# print(7 % 2)

678
6
7
8
Сумма цифр =  21

In [67]:
n = 123

n_str = str(n)

a = int(n_str[0]) #1
b = int(n_str[1]) #2
c = int(n_str[2]) #3

print(a+b+c)

6

In [4]:
people = ['Оля', 'Артем', 'Олег']

for i in range(len(people)):
    if people[i] == 'Олег':
        print('{} - {}'. format(people[i], i))

Олег - 2

In [40]:
z = '* '
n = 5
for i in range(n):
    print((z*n).strip(' '))

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
n = 1234
while n > 0:
    print(n % 10)
    n = n // 10

4
3
2
1

In [4]:
sum = 0
for i in range(1,4):
    sum+=i
print(sum)

6

In [2]:
while True:
    try:
        float(input())
    except ValueError:
        break

6
4
45
-8
-6.5
3.4
f

In [16]:
n = int(input('Который час? '))
if n >= 6 and n < 12:
    print('Доброе утро!')
elif n >= 12 and n < 16:
    print('Добрый день!')
elif n >= 16 and n < 21:
    print('Добрый вечер!')
elif (n >= 21 and n <= 24) or (n > 0 and n < 6):
    print('Доброй ночи!')

Который час? 5
Доброй ночи!

In [28]:
summa = 0
for i in range(1,5):
#     print(i)
    summa = summa + i
print(summa)

10

In [33]:
n = int(input('Введи число: '))
if n > 0:
    print('Положительное')
elif n < 0:
    print('Отрицательное')
else:
    print('Ноль')

Введи число: 7
Положительное

In [21]:
# x^2 + x -6 = 0
# x^2 -6x + 9 = 0
import math

a = int(input('Введите a: '))
b = int(input('Введите b: '))
c = int(input('Введите c: '))

dis = b**2 - 4*a*c
print('Дискриминант =', dis)

if dis > 0:
    print('Два решения')
    x1 = (-b + math.sqrt(dis))/(2*a)
    x2 = (-b - math.sqrt(dis))/(2*a)
    print('x1 =', x1, ';', 'x2 =', x2)
elif dis == 0:
    print('Одно решение')
    x1 = (-b)/(2*a)
    print('x1 =', x1)
else:
    print('Нет решений')

Введите a: 1
Введите b: -6
Введите c: 9
Дискриминант = 0
Одно решение
x1 = 3

In [3]:
a = int(input('Введите a: '))
b = int(input('Введите b: '))
c = int(input('Введите c: '))

for x1 in range(-10, 11):
    for x2 in range(-10, 11):
        if x1 + x2 == -b / a and x1 * x2 == c / a:
            print('x1 = {}; x2 = {}'.format(x1, x2))

Введите a: 1
Введите b: 1
Введите c: -6
x1 = -3; x2 = 2
x1 = 2; x2 = -3

In [10]:
summary = 0

for number in range(1, 5):
    summary = number + summary 
print(summary)

1
1
3
2
6
3
10
4
10

## 17-ое задание

In [194]:
count = 0
possible_numbers = []
for number in range(1016, 7938):
    if number % 3 == 0 and number % 7 != 0 and number % 17 != 0 and number % 19 != 0 and number % 27 != 0:
        count+=1
        possible_numbers.append(number)
print(count, max(possible_numbers))

1568 7935

In [195]:
count = 0
m = 0
for number in range(1016, 7938):
    if number % 3 == 0 and number % 7 != 0 and number % 17 != 0 and number % 19 != 0 and number % 27 != 0:
        count+=1
        if number > m:
            m = number
print(count, m)

1568 7935

## 16-ое задание

In [7]:
def function(n):
    if n == 1:
        return 1
    if n % 2 == 0:
        return n + function(n-1)
    else:
        return 2 * function(n-2)

function(26)

4122

In [207]:
products = ['огурец', 'помидор']

if 'огурец' in products:
    print('Огурец есть')
if 'помидор' in products:
    print('Помидор есть')

Огурец есть
Помидор есть

## 18-ое задание

In [4]:
import pandas as pd

df = pd.read_csv('/Users/Katia/Desktop/18.csv', sep=';', header=None)
df.head(df.shape[0])

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,51,21,93,48,45,100,67,39,18,29,...,51,72,165,213,258,358,425,464,482,511
1,57,43,97,51,92,10,93,32,19,58,...,108,151,262,313,405,415,518,550,569,627
2,63,16,31,16,78,88,90,72,37,67,...,171,187,293,329,483,571,661,733,770,837
3,10,57,64,25,96,50,81,65,91,69,...,181,244,357,382,579,629,742,807,898,967
4,99,43,95,7,40,76,18,34,5,65,...,280,323,452,459,619,705,760,841,903,1032
5,35,19,71,77,64,38,62,56,10,2,...,315,342,523,600,683,743,822,897,913,1034
6,100,57,27,26,51,33,100,11,53,1,...,415,472,550,626,734,776,922,933,986,1035
7,11,79,49,46,37,69,80,31,25,39,...,426,551,600,672,771,845,1002,1033,1058,1097
8,22,71,20,23,11,12,39,16,64,34,...,448,622,642,695,782,857,1041,1057,1122,1156
9,4,25,87,84,30,48,77,13,40,33,...,452,647,734,818,848,905,1118,1131,1171,1204

In [19]:
#Считываем данные из файла, как список списков(каждую строку в файле разбиваем по точке с запятой, меняем тип на int)
def read_information():
    data = []
    with open('/Users/Katia/Desktop/18.csv', 'r') as file:
        for line in file:
            row = list(map(int, line.rstrip().split(';')))
            data.append(row) 
    return data

data_matrix = read_information() 

#Определяем количество строк
M = len(data_matrix)
#Определяем количество столбцов
N = len(data_matrix[0])
print(M, 'x', N)
    
data_matrix

10 x 10

[[51, 21, 93, 48, 45, 100, 67, 39, 18, 29],
 [57, 43, 97, 51, 92, 10, 93, 32, 19, 58],
 [63, 16, 31, 16, 78, 88, 90, 72, 37, 67],
 [10, 57, 64, 25, 96, 50, 81, 65, 91, 69],
 [99, 43, 95, 7, 40, 76, 18, 34, 5, 65],
 [35, 19, 71, 77, 64, 38, 62, 56, 10, 2],
 [100, 57, 27, 26, 51, 33, 100, 11, 53, 1],
 [11, 79, 49, 46, 37, 69, 80, 31, 25, 39],
 [22, 71, 20, 23, 11, 12, 39, 16, 64, 34],
 [4, 25, 87, 84, 30, 48, 77, 13, 40, 33]]

In [22]:
# work_matrix = [ [0]*M for i in range(N)]
# work_matrix

#Новая матрица, заполненная нулями
work_matrix = []
for i in range(M):
    work_matrix.append([0]*N)
work_matrix

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [23]:
#Заполняем ячейку в левом верхнем углу
work_matrix[0][0] = data_matrix[0][0]
work_matrix

[[51, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [24]:
#Заполняем первую строку
for col in range(1, M):
    work_matrix[0][col] = data_matrix[0][col] + work_matrix[0][col-1]
#     print(work_matrix[0][col-1], '+', data_matrix[0][col])
work_matrix

[[51, 72, 165, 213, 258, 358, 425, 464, 482, 511],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [25]:
#Заполняем первый столбец
for row in range(1, N):
    work_matrix[row][0] = data_matrix[row][0] + work_matrix[row-1][0]
#     print(work_matrix[row-1][0], '+', data_matrix[row][0])
work_matrix

[[51, 72, 165, 213, 258, 358, 425, 464, 482, 511],
 [108, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [171, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [181, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [280, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [315, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [415, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [426, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [448, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [452, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [26]:
for row in range(1, N):
    for col in range(1, M):
        work_matrix[row][col] = data_matrix[row][col] + max(work_matrix[row][col-1], work_matrix[row-1][col])
work_matrix

[[51, 72, 165, 213, 258, 358, 425, 464, 482, 511],
 [108, 151, 262, 313, 405, 415, 518, 550, 569, 627],
 [171, 187, 293, 329, 483, 571, 661, 733, 770, 837],
 [181, 244, 357, 382, 579, 629, 742, 807, 898, 967],
 [280, 323, 452, 459, 619, 705, 760, 841, 903, 1032],
 [315, 342, 523, 600, 683, 743, 822, 897, 913, 1034],
 [415, 472, 550, 626, 734, 776, 922, 933, 986, 1035],
 [426, 551, 600, 672, 771, 845, 1002, 1033, 1058, 1097],
 [448, 622, 642, 695, 782, 857, 1041, 1057, 1122, 1156],
 [452, 647, 734, 818, 848, 905, 1118, 1131, 1171, 1204]]

In [27]:
pd.DataFrame(work_matrix)

     0    1    2    3    4    5     6     7     8     9
0   51   72  165  213  258  358   425   464   482   511
1  108  151  262  313  405  415   518   550   569   627
2  171  187  293  329  483  571   661   733   770   837
3  181  244  357  382  579  629   742   807   898   967
4  280  323  452  459  619  705   760   841   903  1032
5  315  342  523  600  683  743   822   897   913  1034
6  415  472  550  626  734  776   922   933   986  1035
7  426  551  600  672  771  845  1002  1033  1058  1097
8  448  622  642  695  782  857  1041  1057  1122  1156
9  452  647  734  818  848  905  1118  1131  1171  1204

In [30]:
#Значение правого нижнего угла - максимум
work_matrix[M-1][N-1]

1204

In [31]:
for row in range(1, N):
    for col in range(1, M):
        work_matrix[row][col] = data_matrix[row][col] + min(work_matrix[row][col-1], work_matrix[row-1][col])
work_matrix

[[51, 72, 165, 213, 258, 358, 425, 464, 482, 511],
 [108, 115, 212, 263, 350, 360, 453, 485, 501, 559],
 [171, 131, 162, 178, 256, 344, 434, 506, 538, 605],
 [181, 188, 226, 203, 299, 349, 430, 495, 586, 655],
 [280, 231, 321, 210, 250, 326, 344, 378, 383, 448],
 [315, 250, 321, 287, 314, 352, 406, 434, 393, 395],
 [415, 307, 334, 313, 364, 385, 485, 445, 446, 396],
 [426, 386, 383, 359, 396, 454, 534, 476, 471, 435],
 [448, 457, 403, 382, 393, 405, 444, 460, 524, 469],
 [452, 477, 490, 466, 423, 453, 521, 473, 513, 502]]

In [32]:
pd.DataFrame(work_matrix)

     0    1    2    3    4    5    6    7    8    9
0   51   72  165  213  258  358  425  464  482  511
1  108  115  212  263  350  360  453  485  501  559
2  171  131  162  178  256  344  434  506  538  605
3  181  188  226  203  299  349  430  495  586  655
4  280  231  321  210  250  326  344  378  383  448
5  315  250  321  287  314  352  406  434  393  395
6  415  307  334  313  364  385  485  445  446  396
7  426  386  383  359  396  454  534  476  471  435
8  448  457  403  382  393  405  444  460  524  469
9  452  477  490  466  423  453  521  473  513  502

In [33]:
#Значение правого нижнего угла - минимум
work_matrix[M-1][N-1]

502

## map

In [7]:
def square_func(num):
    return num**2
def tripple_func(num):
    return num**3
def four_func(num):
    return num**4

function_list = [square_func, tripple_func, four_func]

for i in range(1, 10):
    number = map(lambda x: x(i), function_list)
    print('for', i, '=', list(number))

for 1 = [1, 1, 1]
for 2 = [4, 8, 16]
for 3 = [9, 27, 81]
for 4 = [16, 64, 256]
for 5 = [25, 125, 625]
for 6 = [36, 216, 1296]
for 7 = [49, 343, 2401]
for 8 = [64, 512, 4096]
for 9 = [81, 729, 6561]

In [31]:
number = int(input())

if number > 0: 
    print('x > 0')
elif number < 0:
    print('x < 0')
else:
    print('x = 0')

5
x > 0

In [53]:
number = 1234

print(number % 10)
number = number // 10
print(number)
print(number % 10)
#print(type(number))

4
123
3

In [1]:
print(7 / 2)
print(7 // 2) 
print(7 % 2)

3.5
3
1

## 24-ое задание

In [28]:
with open('/Users/Katia/Desktop/24.txt', 'r') as file:
    text = file.read()

max_length, current_length = 1, 1
for i in range(1, len(text)):
    if text[i] != text[i-1]:
        current_length += 1
        if current_length > max_length:
            max_length = current_length
    else:
        current_length = 1
            
print(max_length)

35

## 25-ое задание

In [51]:
for number in range(174457, 174505+1):
    count = 0
    dividers = []
    for div in range(2, number):
        if number % div == 0:
            count+=1
            dividers.append(div)
    if count == 2:
        for elem in dividers:
            print(elem, end=' ')
        print()

3 58153
7 24923
59 2957
13 13421
149 1171
5 34897
211 827
2 87251

In [73]:
for number in range(174457, 174505+1):
    dividers = []
    dividers_count = 2 # требуемое количество делителей
    for div in range(2, number):
        if number % div == 0:
            dividers = dividers + [div]
        if len(dividers) > dividers_count:
            break
    if len(dividers) == dividers_count:
        print(*dividers)

3 58153
7 24923
59 2957
13 13421
149 1171
5 34897
211 827
2 87251

In [3]:
from math import sqrt

for number in range(174457, 174505+1):
    dividers = []
    dividers_count = 2 # требуемое количество делителей
    for div in range(2, int(sqrt(number))+1):
        if number % div == 0:
            dividers = dividers + [div, int(number/div)]
        if len(dividers) > dividers_count:
            break
    if len(dividers) == dividers_count:
        print(*dividers)

3 58153
7 24923
59 2957
13 13421
149 1171
5 34897
211 827
2 87251

In [18]:
from math import sqrt

for number in range(174457, 174505+1):
    dividers = []
    dividers_count = 2 # требуемое количество делителей
    for div in range(2, int(sqrt(number))+1):
        if number % div == 0:
            dividers = dividers + [div, int(number/div)]
        if len(dividers) > dividers_count:
            break
    if len(dividers) == dividers_count:
        dividers = set(dividers)
        dividers = sorted(dividers)
        print(*dividers)

3 58153
7 24923
59 2957
13 13421
149 1171
5 34897
211 827
2 87251

## 26-ое задание

In [133]:
with open('/Users/Katia/Desktop/26.txt', 'r') as file:
    data = file.readlines()

S, N = map(int, data[0].strip().split())
print('Размер свободного места на диске: {}; количество пользователей: {}'.format(S, N))
del data[0]

data = sorted(list(map(int, data)))
print(data)

# накапливаем сумму в переменной total, пока она остается не больше, чем S
total = 0
last_index = 0
for i in range(N):
    if (total + data[i]) <= S:
        total+=data[i]
        last_index = i
# индекс последнего подходящего элемента - значит число пользователей на один больше, так как нумерация индексов начинается с нуля
# print('Индекс последнего подходящего элемента:', last_index) 

max_elem = data[last_index]
# Вычитаем максимальный элемент, так как будем проверять другие элементы
total -= max_elem

for i in range(last_index + 1, N):
    if total+data[i] <= S:
        max_elem = data[i]

print('Наибольшее число пользователей: {}; максимальный размер имеющегося файла: {}'.format(last_index + 1, max_elem))

Размер свободного места на диске: 8200; количество пользователей: 970
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 70]
Наибольшее число пользователей: 568; максимальный размер имеющегося файла: 50

## 27-ое задание

In [1]:
with open('/Users/Katia/Desktop/27-A.txt', 'r') as file:
    N = int(file.readline())
    summary = 0
    min_diff = 10000
    for i in range(N):
        a, b = map(int, file.readline().split())
        summary += max(a, b)
        diff = abs(a - b)
        if diff % 3 > 0:
            min_diff = min(diff, min_diff)
    if summary % 3 != 0:
        print(summary)
    else:
        print(summary-min_diff)

127127

In [4]:
pip install --upgrade pip

Collecting pip
  Using cached pip-20.2.4-py2.py3-none-any.whl (1.5 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 20.2.3
    Uninstalling pip-20.2.3:
      Successfully uninstalled pip-20.2.3
Successfully installed pip-20.2.4
Note: you may need to restart the kernel to use updated packages.